{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Commit Logs from EECS</title>


	<link rel="stylesheet" href="{% static 'css/foundation.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">


	<script src="{% static 'js/vendor/custom.modernizr.js' %}"></script>

</head>
<body>

	<div class="top-bar">
		<h1>Commit Logs From EECS</h1>
	</div>
	<div class="row">
		<div class="large-10 large-centered columns commits">
		</div>
	</div>
	<div class="pagination" style="display:none;">
		<a class="first" href="?page=1">Next</a>
	</div>
	<script src="{% static 'js/vendor/jquery.js' %}"></script>
	<script src="{% static 'js/vendor/jquery.infinitescroll.min.js' %}"></script>
	<script src="{% static 'js/vendor/moment.min.js' %}"></script>
	<script src="{% static 'js/foundation.min.js' %}"></script>
<!--

<script src="js/foundation/foundation.js"></script>

<script src="js/foundation/foundation.alerts.js"></script>

<script src="js/foundation/foundation.clearing.js"></script>

<script src="js/foundation/foundation.cookie.js"></script>

<script src="js/foundation/foundation.dropdown.js"></script>

<script src="js/foundation/foundation.forms.js"></script>

<script src="js/foundation/foundation.joyride.js"></script>

<script src="js/foundation/foundation.magellan.js"></script>

<script src="js/foundation/foundation.orbit.js"></script>

<script src="js/foundation/foundation.reveal.js"></script>

<script src="js/foundation/foundation.section.js"></script>

<script src="js/foundation/foundation.tooltips.js"></script>

<script src="js/foundation/foundation.topbar.js"></script>

<script src="js/foundation/foundation.interchange.js"></script>

<script src="js/foundation/foundation.placeholder.js"></script>

<script src="js/foundation/foundation.abide.js"></script>

-->

<script>
$(document).foundation();
</script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
