.commit {
	padding: 10px;
}
.type-1 {
	background-color: #EEE;
}
.timestamp {
	color: #666;
	font-size: .9em;
	padding-top: 28px;
}
.message {
	font-size: 1.1em;
	padding-top: 25px;
}
.top-bar {
	background-color: #571963;
	text-align: center;
	height: 80px;
}
.top-bar h1 {
	color: #FFF;
}
.waypoint {
	height: 10px;
	width: 100%;
}